In [2]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import xlwings as xw

In [156]:
def goodinfo_crawler(stock_id):    
    url = f"https://goodinfo.tw/StockInfo/ShowK_Chart.asp?STOCK_ID={stock_id}&CHT_CAT2=DATE"
    header = {
    "user-agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.106 Mobile Safari/537.36",
    }
    res = requests.get(url, headers = header)
    #print(res.encoding) 印出request使用何種解碼
    #print(res.apparent_encoding) 印出網站如何編碼
    res.encoding = "utf-8"
    soup = BeautifulSoup(res.text, "html.parser")
    date_list = list()
    price_list = list()
    for i in range(54):
        table_row = soup.find_all("tr", {"id":f"row{i}"})[0]
        date = table_row.find_all("td")[0].text
        close_price = table_row.find_all("td")[4].text
        date_list.append(date)
        price_list.append(close_price)
    date_list.reverse()
    price_list.reverse()
    return date_list, price_list

In [157]:
df = pd.DataFrame(goodinfo_crawler(2337)[1], index = goodinfo_crawler(2337)[0], columns = ["close_price"])
df

      close_price
12/04        35.5
12/05          35
12/06       35.55
12/09        35.2
12/10       35.85
12/11        38.7
12/12          38
12/13        36.6
12/16        37.2
12/17       37.15
12/18       36.75
12/19       37.05
12/20       37.25
12/23        36.6
12/24        36.6
12/25        37.1
12/26        36.8
12/27       38.05
12/30        37.4
12/31        37.2
01/02          38
01/03          38
01/06       38.95
01/07        37.6
01/08        38.5
01/09       38.35
01/10       37.95
01/13        38.8
01/14       39.25
01/15       38.75
01/16       39.95
01/17        39.3
01/20        39.7
01/30        36.5
01/31          38
02/03        38.2
02/04       38.45
02/05       40.25
02/06        40.9
02/07       39.45
02/10        38.2
02/11       38.85
02/12        38.9
02/13       38.85
02/14       38.45
02/17        38.7
02/18       38.15
02/19       35.35
02/20        35.6
02/21        35.8
02/24          36
02/25        35.6
02/26       34.85
02/27          33

In [158]:
df["five_day_ma"] = df["close_price"].rolling(5).mean()
df

      close_price  five_day_ma
12/04        35.5          NaN
12/05          35          NaN
12/06       35.55          NaN
12/09        35.2          NaN
12/10       35.85        35.42
12/11        38.7        36.06
12/12          38        36.66
12/13        36.6        36.87
12/16        37.2        37.27
12/17       37.15        37.53
12/18       36.75        37.14
12/19       37.05        36.95
12/20       37.25        37.08
12/23        36.6        36.96
12/24        36.6        36.85
12/25        37.1        36.92
12/26        36.8        36.87
12/27       38.05        37.03
12/30        37.4        37.19
12/31        37.2        37.31
01/02          38        37.49
01/03          38        37.73
01/06       38.95        37.91
01/07        37.6        37.95
01/08        38.5        38.21
01/09       38.35        38.28
01/10       37.95        38.27
01/13        38.8        38.24
01/14       39.25        38.57
01/15       38.75        38.62
01/16       39.95        38.94
01/17        39.3        39.21
01/20        39.7        39.39
01/30        36.5        38.84
01/31          38        38.69
02/03        38.2        38.34
02/04       38.45        38.17
02/05       40.25        38.28
02/06        40.9        39.16
02/07       39.45        39.45
02/10        38.2        39.45
02/11       38.85        39.53
02/12        38.9        39.26
02/13       38.85        38.85
02/14       38.45        38.65
02/17        38.7        38.75
02/18       38.15        38.61
02/19       35.35        37.90
02/20        35.6        37.25
02/21        35.8        36.72
02/24          36        36.18
02/25        35.6        35.67
02/26       34.85        35.57
02/27          33        35.05